@import "./utils/variables";
@import "./components/placeholders";
@import "./components/general-settings";
@import "./components/header";
@import "./components/nav";
@import "./components/contact";
@import "./components/hero-section";
@import "./components/nobottom-section";
@import "./components/activity-section";
@import "./components/personal-section";
@import "./components/customers-section";
@import "./components/footer-section";
@import "./components/modal-window";
@import "./components/modal-form";
@import "./components/portfolio";


