/*Футер*/

footer {
    background: $color-second-bcg-text-color;
    padding: 60px 0 60px 0px;
    @media screen and (max-width:1199px){
      margin:0;
      align-items: center;
      justify-content: center;
    }
  }
  
  .container.last{
    @media screen and (max-width:767px){
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      
    }
    @media screen and (min-width:1200px){
      display: flex;
      align-items: baseline;
      
    }
  }
    

  .footer{
    @media screen and (max-width:767px){
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-bottom:60px;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 165px;
    }
    @media screen and (min-width:1200px){
      
      margin-right: 0px;
    }
  
  }
  .footer__logo{
    @media screen and (max-width:767px){
      width:154px;
      margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width:768px){
    
  margin-bottom: 20px;
  }
    @media screen and (min-width:1200px){
      display: inline-block;
    margin-bottom: 20px;
    }
  
  }
  .footer__web {
    @extend %logo;
    color: $color-accent-text-color;
  }
  .footer__studio {
    @extend %logo;
    color: $color-no-accent-text-color;
  }
  
  .address {
    @media screen and (max-width:767px){
      margin-top: 20px;
    }
      
    @extend %address;
    color: $color-no-accent-text-color;
    margin-bottom: 9px;
    @media screen and (min-width:1200px){
      margin: 0 0 9px 0;
    }
  }
  .address__list{
    @media screen and (max-width:1199px){
      display:flex;
      flex-direction: column;
      align-items: center;
    }
  }
   .address__link {
    @extend %address__link;
    color: $color-second-text-color;
    display: inline-block;
    color:$color-contact-footer;
    transition: color $transition;
    &:hover,
    &:focus{
        color: $color-accent-text-color;
    }
  }
  .address__mail {
   
    margin-bottom: 9px;
    @media screen and (min-width:1200px){
      display:inline-block;
    }
  }
  .networks__image{
    
    fill:$color-no-accent-text-color;
    
  }
  .networks__link{
    width: 44px;
    height: 44px;
    background-color: $color-fill-bcg-color;
    border-radius: 50%;
    border-color:$color-fill-border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color $transition;
    &:hover,
    &:focus{
        background-color:$color-accent-text-color;
    } 
  }

    
 .join{
   @media screen  and (max-width:767px){
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:60px;
   }
   @media screen and (min-width:1200px){
    justify-content: center;
    margin-left: 70px;
   }
 }
  .join__name {
    margin-right: auto;
    margin-left: auto;
    @extend %footer_name;
    color: $color-no-accent-text-color;
    width: 145px;
  }
  
  .networks{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .networks__list:not(:last-child){
    margin-right: 10px;
  }
  /*ПОДПИСЫВАЙТЕСЬ*/
  
  .subscribe{
   
   @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   }
   @media screen and (min-width:768px) and (max-width:1199px){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  @media screen and (min-width:1200px){
    margin-left: 93px;
  }
  }
  
  .subscribe__name{
    @extend %footer_name;
    color: $color-no-accent-text-color;
    @media screen and (min-width:1200px){
      width: 145px;
    }
    
  }
  .subscribe__form{
    @media screen and (max-width:767px) {
      width: 100%;
      display: flex;
    flex-direction: column;
    align-items: center;
    }
    @media screen and (min-width:1200px){
      display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    }
    margin-top: 20px; 
  }
  
  .subscribe__input{
    @media screen and (max-width:767px) {
      display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:450px;
      
    }
    @media screen and (min-width:1200px){
      width: 358px;
    }
    height: 50px;
    background-color: $color-subscribe-bcg-color;
    padding: 0px;
    border:1px solid $color-subscribe-border;
    border-radius:4px;
    color:$color-no-accent-text-color;
    padding-left:16px;
    margin-bottom:20px;
  }
  .footer__form{
    @media screen and (max-width:767px) {
      width: 100%;
      
    }
    @media screen and (min-width:1200px) {
      display: flex;
    }
  }
  .button__footer{
    @media screen and (max-width:1199px){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width:1200px){
      width: 200px;
      margin-right: 0px;
    }
  }
  .subscribe__button{
   
    position:relative;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 62px 10px 29px;
    border: none;
    border-radius: 4px;
    background-color: $color-accent-text-color;
    color: $color-no-accent-text-color;
    @extend %subscribe_button;
  }
  
  .subscribe__image{
    fill:$color-no-accent-text-color;
    position: absolute;
    top:13px;
    left:148px;
  }
  