


.nav,.nav__item{
    display: flex;
    align-items: center;
  }
/*webstudio*/

.nav__logo{
  
  
    .web{
      font-family: $fonts-logo;
    font-weight: 700;
    letter-spacing: $letter-spacing-main;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
      color: $color-accent-text-color;
      }
      .studio{
        font-family: $fonts-logo;
    font-weight: 700;
    letter-spacing: $letter-spacing-main;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
        color: $color-primary-text-color;
      }
  
  @media screen and (max-width:767px){
    width:134px;
  }
  }
  
  .nav__link{
    display: block;
    padding: 32px 0;
    @extend %fonts-header;
    color: $color-primary-text-color;
    position: relative;
    transition: color $transition;
    &.current{
      color: $color-accent-text-color;
    }
    &:hover{
      color: $color-accent-text-color;
    }
    &:focus{
      color: $color-accent-text-color;
    }
    &.current:hover::after{
      transform:scale(1.2);
    }
    &.current:focus::after{
      transform:scale(1.2);
    }
  } 
  .nav__link.current::after{
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent-text-color;
    transform:scale(1);
    transition: transform $transition;
  }
  .nav__item{
    
    @media screen and (max-width:767px){
      display:none;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
      margin-left: 88px;
    }

    margin-left: 93px;
    
  }
 