.workers {
    background: $color-second-bcg-color; 
  }
  .personal
  {
    padding: 30px 30px 30px 30px;
    text-align: center;
    background-color: $color-no-accent-text-color; 
  }
  .personal__name {
    @extend %personal__name;
    margin-bottom: 10px;
  }
  .personal__position {
    font-size: 16px;
    line-height: 1.19;
    color: $color-second-text-color;
  }
  .cards__list {
   
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .icons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:16px;
    background-color: $color-no-accent-text-color;
  }
  .icons__list:not(:last-child){
    margin-right: 10px;
  }
  .icons__link{
    width: 44px;
    height: 44px;
    background-color:$color-no-accent-text-color;
    padding:0px;
    border-width: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color $transition;
    .icons__networks{
    
        fill:$color-fill;
        transition: fill $transition;
      }
    &:hover,
    &:focus{
        background-color:$color-accent-text-color;
        border-radius: 50%;
        .icons__networks{
    
            fill:$color-no-accent-text-color;
            transition: fill $transition;
        }
    }
  }
  