%fonts{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
%fonts-header{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
%logo{
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
%tit{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
%overlay_name{
    font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 3%;
}
%address {
    font-style:normal;
    font-size: 14px;
    line-height: 1.71;
}
%address__link {
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
%footer_name{
    font-style:bold;
    font-size: 14px;
    line-height: 1.14;
}
%subscribe_button{
    font-weight: 700;
    font-size: 16px;
    line-height:1.88;
    letter-spacing:0.06em;
    font-family: Roboto; 
}
%hero_title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
%modal{
    font-weight:400;
    line-height:1.17;
    letter-spacing: 0.01;
}
%personal__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
%menu__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
%portfolio__overlay{
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}