/*PORTFOLIO*/
.menu__button {
    font-family:inherit;
    background: $color-second-bcg-color;
    cursor: pointer;
    @extend %menu__button;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: background-color $transition,color $transition, box-shadow $transition;
    &:hover,
    &:focus{
        background: $color-accent-text-color;
        color: $color-no-accent-text-color;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0,0,0,0.1),
                    0px 1px 2px rgba(0,0,0,0.08),
                    0px 0px 0px rgba(0,0,0,0.12);
    }
  }
  
  .portfolio__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $color-primary-text-color;
    margin-bottom: 4px;
  }
  .portfolio__filter {
    @extend %subscribe_button;
    color: $color-second-text-color;
  }
  .menu {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .menu__list:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1*30px);
    margin-bottom: calc(-1*30px);
  }
  .portfolio__item {
    flex-basis: calc((100% - 3*30px)/3 -10px);
    margin: 0 30px 30px 0;
  }
  .portfolio__description {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid $color-portfolio-border;
    border-bottom: 1px solid $color-portfolio-border;
    border-left: 1px solid $color-portfolio-border;
  }
  .portfolio__link{
    text-decoration: none;
    margin-right:0;
    display:block;
    transition: box-shadow $transition;
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0,0,0,0.12),
                0px 4px 4px rgba(0,0,0,0.06),
                1px 4px 6px rgba(0,0,0,0.16);
    }
    &:hover{
        .portfolio__overlay{
            transform: translateY(-100%); 
    }
  }
}
  
  .portfolio__thumb{
    position: relative;
    overflow:hidden;
    
  }
  .portfolio__overlay{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top:100%;
    left: 0;
    color:$color-no-accent-text-color;
    @extend %portfolio__overlay;
    padding: 63px 24px;
    background-color: $color-overlay-bcg;
    transform: translateY(0%);
    transition: transform $transition;
  }
 