:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196f3;
  --no-accent-text-color: #ffffff;
  --second-bcg-text-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --border-header-color:#ECECEC;
  --button-change-color:#188ce8;
  --portfolio-item-gap: 30px;
}

/*  #212121 - цвет основного текста*/
/*  #757575 - вторичный цвет*/
/*  #2196F3 - цвет синий текста*/
/*  #FFFFFF - цвет белый текста*/
/*  #2F303A - цвет фона вторичный*/
/*  #ECECEC - цвет рамки*/
/*  #188ce8 - цвет кнопки*/

body {
  background-color: var(--no-accent-text-color);
  font-family: Roboto, sans-serif;
  color:var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height:1.19;  
}
/*Общие*/

h1,h2,h3,h4,p,ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right:auto;
}
a {
  text-decoration: none;
}
/*Header*/
.header{
  border-bottom: 1px solid var(--border-header-color);
}
header div.container{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
/*nav*/

nav.main-nav,ul.contact{
  display: flex;
  align-items: center;
}

li.contact-second:not(:last-child),
.list:not(:last-child){
  margin-right: 50px;
}
/*webstudio*/
.webstudio{
  width: 145px;
}
span.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
  text-decoration: none;
}
span.studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-decoration: none;
}

/*main-nav*/
ul.contact{
  margin-left: 93px;
}
.contact-first{
  display: block;
  padding: 32px 0;
}

/*nav-contacts*/
ul.contact-second{
  display:flex;
  margin-left: auto;}

/*Hero section*/
.hero {
  background-color: var(--second-bcg-text-color);
  color: var(--no-accent-text-color);
  padding: 200px 0;
  text-align: center;
  letter-spacing: 0.06em;
}
h1.hero-title{ 
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--no-accent-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}
/*Кнопка "Заказать услугу"*/
.hero-button {
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--no-accent-text-color);
  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus{
 background-color: var(--button-change-color);
}

/*Хедер Студия-Портфолио-Контакты*/

a.contact-first {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/*Хедер почта-телефон*/
a.contact-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-decoration: none;
}
/*Active navigation*/
a.contact-first:hover,
a.contact-first:focus {
  color: var(--accent-text-color);
}
.contact-first.current{
  color: var(--accent-text-color);
}
a.contact-second:hover,
a.contact-second:focus {
  color: var(--accent-text-color);
}
li.contact-second.tel{
  margin-left: 50px;
}

/*Наши преимущества*/
.nobottom.section {
  padding-bottom: 0px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-list,
.images-list,
.cards-list {
  display: flex;
}
.feature-list-item:not(:last-child),
.images-list-item:not(:last-child),
.cards-list-item:not(:last-child)
 {
  margin-right: 30px;
}
.feature-list-item,
.cards-list-item {
  width: 270px;
}
.feature-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  color: var(--second-text-color);
  line-height: 1.71;
}
/*Чем мы занимаемся*/
.nobottom.section {
  padding-bottom: 0px;
}
h2.activity {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity{
  min-width: 376px;
  margin: auto;
  display: flex;
  justify-content:center ;
}
ul.activity{
  margin-top:50px;
}
li.activity-list:not(:last-child)
{
 margin-right: 30px;
}
.images-list-item {
  width: 370px;
}

/*Наша команда*/

section.personal {
  background: var(--second-bcg-color); 
}
h2.personal {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
h3.personal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
p.personal {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-bcg-text-color);
}
.cards-list-item {
  background-color: var(--background-color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
div.personal
{
  padding: 30px;
  text-align: center;
  background-color: var(--no-accent-text-color); 
}
/*Футер*/
footer {
  background: var(--second-bcg-text-color);
  padding: 60px 0 60px 0px;
}
.web-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}
.studio-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--no-accent-text-color);
}
a.footer-logo{
  display: inline-block;
  margin-bottom: 20px;

}
p.address {
  font-style:normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--no-accent-text-color);
  margin: 0 0 9px 0;
}
a.contact-third:hover,
a.contact-third:focus {
  color: var(--accent-text-color);
}
a.contact-third {
  font-style:normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: inline-block;
  color:rgba(255, 255, 255, 0.6);
}

.footer-mail {
  display:inline-block;
  margin-bottom: 9px;
}

/*PORTFOLIO*/
button.portfolio {
  font-family:inherit;
  background: var(--second-bcg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

button.portfolio:hover,
button.portfolio:focus {
  background: var(--accent-text-color);
  color: var(--no-accent-text-color);
  cursor: pointer;
}

h2.portfolio-filter {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
p.portfolio-filter {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-text-color);
}
.button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.button-list-item:not(:last-child) {
  margin-right: 8px;
}
ul.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1*var(--portfolio-item-gap));
  margin-bottom: calc(-1*var(--portfolio-item-gap));
}
.portfolio-item {
  flex-basis: calc((100% - 3*var(--portfolio-item-gap)) /3 -10px);
  margin: 0 var(--portfolio-item-gap) var(--portfolio-item-gap) 0;
}
.portfolio-description {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
a.portfolio-filter{
  text-decoration: none;
  margin-right:0;
}

